<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<a href="/signup"><h3>Sign up</h3></a>
<a href="/login"><h3>Login</h3></a>
<a href="/bar"><h3>Bar</h3></a>
</body>
</html>